{% extends 'base.html.twig' %}

{% block title 'Gestion des Acceuillis' %}

{% block body %}
  <div class="container mt-4" >
    <center><h1>Voir les derniers acceuillis</h1></center>
  </div>
{% endblock %}