{% extends 'base.html.twig' %}

{% block title 'Gestion des Acceuillis' %}

{% block body %}
  <div class="container mt-4" >
    <center><h1>MENU PRINCIPAL</h1><br><br>
      <img src="image/emergence.png" class="img-fluid"><br><br>
      <button type="button" class="btn btn-success" href="{{ path('enregistrementA') }}"><h2>Enregistrement d'un acceuilli</h2></button><br><br>
      <button type="button" class="btn btn-success" href="#"><h2>Enregistrement d'une famille</h2></button><br><br>
      <button type="button" class="btn btn-success" href="#"><h2>Enregistrement d'une session</h2></button><br><br>
      <button type="button" class="btn btn-success" href="#"><h2>Recherches</h2></button><br><br>
    </center>
  </div>
{% endblock %}