{% extends 'base.html.twig' %}

{% block title 'Gestion des Acceuillis' %}

{% block body %}
  <div class="container mt-4" >
    <center><h1>MENU PRINCIPAL</h1><br><br>
      <img src="image/emergence.png" /><br><br>

      <label for="ice-cream-choice">Choose a flavor:</label>
        <input list="ice-cream-flavors" id="ice-cream-choice" name="ice-cream-choice" />

        <datalist id="ice-cream-flavors">
            <option value="Chocolate">
            <option value="Coconut">
            <option value="Mint">
            <option value="Strawberry">
            <option value="Vanilla">
        </datalist>
    </center>
  </div>
{% endblock %}