{% extends 'base.html.twig' %}

{% block title 'Gestion des Acceuillis' %}

{% block body %}
  <div class="container mt-4" >
    <center><h1>Menu Principal</h1></center>
    <form class="form-inline my-2 my-lg-0">
         
            
        
    <button class="btn btn-primary">{{ button|default('Enregistrer') }}</button>
 
    </form>
  </div>
{% endblock %}