{% extends 'base.html.twig' %}

{% block title "Enregistrement d'une session" %}

{% block body %}
    <div class="container mt-4" >
        <center><h1>Enregistrement d'une Session</h1></center><br>
        <center><h2>Une session est une activité à une date donnée</h2></center>
        
                
            
                <table class="table">
                    <thead>
                        <tr>
                        <th scope="col">
                            </label>Choisir l'activité de la session</label><br>
                            </label>Choisir la date de la session</label><br>
                            </label>Valider</label>
                        </th>
                        <th scope="col">

                        <label>Activitée</label><br>

                        <input list="Activitée" id="activitée" name="activitée" />

                        <datalist id="Activitée">
                            <OPTION value="Halte du matin">
                            <OPTION value="Repas du midi">
                            <OPTION value="Halte du jour">
                            <OPTION value="Domiciliation">
                            <OPTION value="Bagagerie">
                            <OPTION value="Acceuil de famille">
                            <OPTION value="Nuitée">
                            <OPTION value="Cinéma">
                            <OPTION value="Piscine">
                            <OPTION value="Sortie">
                        </datalist><br><br>


                        </th>
                        <th scope="col">
                            <div class="container">
                                <div class="row">
                                    <div class='col-sm-6'>
                                        <div class="form-group">
                                            <div class='input-group date' id='datetimepicker1'>
                                                <input type='text' class="form-control" />
                                                <span class="input-group-addon">
                                                    <span class="glyphicon glyphicon-calendar"></span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <script type="text/javascript">
                                        $(function () {
                                            $('#datetimepicker1').datetimepicker();
                                        });
                                    </script>
                                </div>
                            </div>
                        </th>
                        <th scope="col">
                            <button type="button" class="btn btn-success">valider</button>
                        </th>
                        <th scope="col">
                            <button type="button" class="btn btn-danger">retour</button>
                        </th>
                        </tr>
                    </thead>
                <table>

            
            <label>Pour inscrir un nouveau participant, il faut :</label><br>
            <label>Cliquez sur le bouton "nouveau participant"</label><br>
            <label>Choisir le participant</label><br>
            <label>Cliquez sur le bouton "Valider"</label><br>
            <label>Si le participant est déja inscrit à cette session, un<br>message d'erreur apparaîtra.</label><br>
            <label>le cadreci-contre liste les participants déjà inscrits</label><br><br>

            <button type="button" class="btn btn-secondary">Nouveau Participant</button><br><br>

            <label>Recherche par Nom</label><br>
            <input list="Nom" id="nom" name="nom" />

                    <datalist id="Nom">
                        <OPTION value="Mathieu">
                        <OPTION value="Mathis">
                        <OPTION value="Jean">
                        <OPTION value="Paul">
                    </datalist><br>

            



            <label>Recherche par Prénom</label><br>
            <input list="Acceuilli" id="acceuilli" name="acceuilli" />

                    <datalist id="Acceuilli">
                        <OPTION value="Soret">
                        <OPTION value="Bidul">
                        <OPTION value="Truc">
                    </datalist><br><br>
            <div class="btn-toolbar">
                <button type="button" class="btn btn-success">valider</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <button type="button" class="btn btn-secondary">Nouvel Acceuilli</button>
            </div>

    </div>
{% endblock %}