{% extends 'base.html.twig' %}

{% block title "Enregistrement d'une session" %}

{% block body %}
    <div class="container mt-4" >
        <center><h1>Enregistrement d'une Session</h1></center><br>
        <center><h2>Une session est une activité à une date donnée</h2></center>
    </div>
{% endblock %}