{% extends 'base.html.twig' %}

{% block title 'Enregistrement Acceuillis' %}

{% block body %}
  <div class="container mt-4" >
    <center><h1>Enregistrement</h1></center>

  
  <table class="table">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">
      <FORM>
        <SELECT name="nom" size="1">
          <OPTION>Mathieu
          <OPTION>Mathis
        </SELECT>
      </FORM></th>
      <th scope="col"><button type="button" class="btn btn-success" href="#">Nouvel acceuilli</button></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">
        <FORM>
          <SELECT name="nom" size="1">
            <OPTION>monsieur
            <OPTION>madame
            <OPTION>enfant
          </SELECT>
        </FORM>
      </th>
      <td>
        <label>afficher le nom</label>
      </td>
      <td>
        <label>afficher le prénom</label>
      </td>
      <td>
        <button type="button" class="btn btn-danger" href="#">Retour à la page d'acceuil</button>
      </td>
    </tr>
  </tbody>
</table>

    <! -- ici nous avons le collapse qui va nous permettre d'afficher l'état civil etc.....  -->
    <div id="accordion">
      <div class="card">
        <div class="card-header" id="headingOne">
          <h5 class="mb-0">
            <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              État civil
            </button>
          </h5>
        </div>
        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
          <div class="card-body">
            . . .
          </div>
        </div>
      </div>


      <div class="card">
        <div class="card-header" id="headingTwo">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              Situation Actuelle
            </button>
          </h5>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
          <div class="card-body">
            . . .
          </div>
        </div>
      </div>


      <div class="card">
        <div class="card-header" id="headingThree">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              Anciennes situations
            </button>
          </h5>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
          <div class="card-body">
            . . .
          </div>
        </div>
      </div>
    </div>
</div>
      
{% endblock %}