{% extends 'base.html.twig' %}

{% block title "Enregistrement d'une famille" %}

{% block body %}

  <div class="container mt-4" >
    <center><h1>Enregistrement d'une famille</h1></center>
    <br><br>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">
                <!-- Ce bouton nous enmème vers la page pour enregistrer une famille -->
                    <button type="button" class="btn btn-success"><a href="{{ path('page.pageInscription.enregistrementFamille') }}"><font color="white">Nouvelle Famille</font></a></button> 
                </th>
                <th scope="col">
                    <center>
                        <label> Une famille est repérée par le nom d'un de ses membres.</label>
                        <label> Chaque membre est repéé par son nom, son prénom et sa date de naissance à cause des homonymies.</label>
                        <label> Sélectionner une famille ou cliquer sur Nouvelle Famille.</label>
                    </center>
                </th>
            </tr>
        </thead>
    </table>

              
    <br><br><br><br>
<!-- Cette méthode nous permet d'afficher ses lignes en fonctions des informations dans la base de données -->
{% for property in property %}
    <table class="table">
        <tbody>
            <tr>
                <th scope="row">
                    
                </th>
                    <!-- Ici on affiche le nom des familles -->
                    {{ property.Famille }}
                <td> 
                </td>
                <td> 
                    <button class="btn btn-success">Editer</button>
                </td>
                <td>
                <!-- Ici le bouton permet de supprimer une famille -->
                        <form method="post" action="{{ path('page.delete', {id: property.id}) }}" style="display: inline-block" 
                                onsubmit="return confirm('Êtes vous vraiment sûr ?')">
                            <input type="hidden" name="_method" value="DELETE">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ property.id) }}">
                            <button class="btn btn-danger">Supprimer</button>
                    </form>
                </td>
            </tr>
        </tbody>
    </table>
{% endfor %}

  </div>


{% endblock %}