{% extends 'base.html.twig' %}

{% block title 'Enregistrement Acceuillis' %}

{% block body %}
  <div class="container mt-4" >
    <center><h1>Enregistrement d'une famille</h1></center>
    <br><br>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">
                    <FORM>
                        <SELECT name="nom" size="1">
                            <option> nom de famille </option>
                        </SELECT>
                    </FORM>
                    <br>
                    <button type="button" class="btn btn-success" href="#">Nouvelle Famille</button>
                </th>
                <th scope="col">
                    <label> Une famille est repérée par le nom d'un de ses membres.</label>
                    <label> Chaque membre est repéé par son nom, son prénom et sa date de naissance à cause des homonymies.</label>
                    <label> Sélectionner une famille ou cliquer sur Nouvelle Famille.</label>
                </th>
            </tr>
        </thead>
    </table>
    <br>
    <table class="table">
        <thead>
            <tr>
            <th scope="col">Mise à jour de la composition de la famille </th>
            <th scope="col">Suite de l'enregistrement</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">
                    <label>Pour inscrire un nouveau membre, il faut :</label><br>
                    <label>Cliquer sur le bouton "nouveau membre"</label><br>
                    <label>Choisir le nouveau membre et son lien familial</label><br>
                    <label>Cliquer sur le bouton "valider"</label><br>
                    <label>S'il est déjà inscrit dans cette famille, un message d'erreur apparaîtra.</label><br>
                    <label>Le cadre ci-contre liste les membres déjà inscrit dans cette famille.</label><br><br>
                    <button type="button" class="btn btn-success" href="#">Nouveau membre</button>
                    <button type="button" class="btn btn-success" href="#">Saisir nouvel acceuilli</button><br><br>

                    <form>
                        <select name="nom" size="1">
                            <option> nom d'un membre de la famille </option>
                        </select>
                    </form><br>
                    <form>
                        <select name="nom" size="1">
                            <option> Fille </option>
                            <option> Fils </option>
                            <option> Grand-mère </option>
                            <option> Grand-père </option>
                            <option> Membre </option>
                            <option> Mère </option>
                            <option> Père </option>
                        </select>
                    </form>

                    <label>Si le nom du nouveau membre est introuvable</label><br>
                    <label>Cliquer sur Annuler</label><br>
                    <label>Cliquer sur Saisir nouvel Accueilli</label><br><br>
                    <button type="button" class="btn btn-warning">Annuler</button>
                    <button type="button" class="btn btn-success">Valider</button>

                </th>



                <td>
                    <label for="tentacles">Adultes:</label>
                    <input type="number" id="tentacles" name="tentacles"><br>

                    <label for="tentacles">Enfants:</label>
                    <input type="number" id="tentacles" name="tentacles"><br>

                    <button type="button" class="btn btn-success">Actualiser</button>
                </td>
            </tr>
        </tbody>
    </table>


  </div>
      
{% endblock %}