{% extends 'base.html.twig' %}

{% block title 'Recherche' %}

{% block body %}

    <div class="container mt-4" >
        <center><h1>Statistique sur une période</h1></center>
    </div>

{% endblock %}