{% extends 'base.html.twig' %}

{% block title 'Recherche' %}

{% block body %}

    <div class="container mt-4" >
        <center><h1>Statistique sur une période</h1></center><br><br>

        <table class="table">
            <thead>
                <th scope="col">Date de début</th>
                <th scope="col">
                    <form>
                        <div class="nativeDatePicker">
                             <input type="date" id="bday" name="bday">
                             <span class="validity"></span>
                        </div>
                     </form>
                </th>
                <th scope="col">Date de fin</th>
                <th scope="col">
                <form>
                        <div class="nativeDatePicker">
                             <input type="date" id="bday" name="bday">
                             <span class="validity"></span>
                        </div>
                    </form>
                
                </th>
                <th scope="col"><button type="button" class="btn btn-success">valider</button></th>
            </thead>
        </table>

        <br><br><br>

        <center><h2>Accceuillis</h2></center>
        <table class="table">
            <tbody>
                <tr>
                <td>
                    <button type="button" class="btn btn-primary">Nombre par tranche d'age</button>
                </td>
                <td>
                    <button type="button" class="btn btn-primary">Nombre par Pays</button>
                </td>
                <td>

                </td>
                <td>
                </td>
                <td>
                    <button type="button" class="btn btn-primary">Sortie présents format excel</button>
                </td>
                </tr>

                <tr>
                <td>
                    <button type="button" class="btn btn-primary">Nombre par zone géographique</button>
                </td>
                <td>
                    <button type="button" class="btn btn-primary">Participation par jour</button>
                </td>
                <td>
                    <button type="button" class="btn btn-primary">Nombre de passage par mois</button>
                </td>
                <td>
                </td>
                <td>
                    <label>Le fichier résultat est dans C:\utilisateurs\Public\soluna\blian.xlsx</label>
                </td>
                </tr>
            </tbody>
            </table>

    </div>

{% endblock %}