{% extends 'base.html.twig' %}

{% block title "Gérer les familles" %}

{% block body %}

    <div class="container mt-4"> <!-- permet d'afficher les element pouvant etre modifier (a faire) -->
        <h1>Editer la famille</h1>
        {{ form_start(form) }}
            {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>

{% endblock %}