{% extends 'base.html.twig' %}

{% block title 'Gestion des Acceuillis' %}

{% block body %}
  <div class="container mt-4" >
    <center><h1>Voir tous les acceuillis</h1></center>
    <form class="form-inline my-2 my-lg-0">
        
    </form>
  </div>
{% endblock %}